POSTGRES_USER=gloriousleader
POSTGRES_DATABASE=gloriousleader
POSTGRES_PASSWORD=
POSTGRES_PORT=32768

SLOGANS_SOURCE_FILE=training-data.txt
SLOGANS_LIMIT=
SLOGANS_CYCLE_LIMIT=
SLOGANS_CYCLE_SUMMARIZE=1000
SLOGANS_CONFLICTS_PERCENTAGE_LIMIT=5
SLOGANS_STARTING_WORDS=let long keep make fight the adorn become establish raise develop ensure the carry be long

LOG_SUPPRESS_ENVIRONMENT=false